### Java ###
*.class
*.jar
*.war
*.ear

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restoreBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Secret (선택 사항) ###
# 만약 실제 비밀번호가 들어있는 설정파일을 따로 만든다면 아래처럼 제외하세요.
# application-secret.yml
# .env

### Logs ###
*.log

.classpath
.factorypath
.project
.settings/
.metadata/
*.yml
